<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">dx721</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hotel_db</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <!-- MAPPINGS -->
        <mapping class="com.company.entity.EmployeeEntity"/>
        <mapping class="com.company.entity.RoomEntity"/>
        <mapping class="com.company.entity.ComfortEntity"/>
<!--        <mapping class="com.company.entity.GuestEntity"/>-->
<!--        <mapping class="com.company.entity.PassportEntity"/>-->
<!--        <mapping class="com.company.entity.CleanRoomEntity"/>-->
<!--        <mapping class="com.company.entity.BookingEntity"/>-->
<!--        <mapping class="com.company.entity.ComplainEntity"/>-->
<!--        <mapping class="com.company.entity.OutComeEntity"/>-->

    </session-factory>

</hibernate-configuration>